<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058248072424-47nb18nsdvhkpm1ea4alpv2sgahbmact.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058248072424-47nb18nsdvhkpm1ea4alpv2sgahbmact</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058248072424-h922gp6m3jtuqp2viufmvmg120rp511d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVwdB9NZzHbF7Z2GzYxR2H9gYud9cHZ48</string>
	<key>GCM_SENDER_ID</key>
	<string>1058248072424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evesbody.app.medspa</string>
	<key>PROJECT_ID</key>
	<string>evesbody-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>evesbody-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058248072424:ios:7f730afd8e3a24c8e1bd5d</string>
	<key>DATABASE_URL</key>
	<string>https://evesbody-mobile.firebaseio.com</string>
</dict>
</plist>